<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:include="common :: #header" th:remove="tag"></title>
    <title>执行代扣</title>
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
</head>
<body>
<!-- start: Header -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse"
               data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/main.do"><span>润通代扣系统</span></a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">
                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i>
                            <div th:text="${session.loginUser.loginName}" th:remove="tag"></div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-title">
                                <span>账户设置</span>
                            </li>
                            <li><a href="/logout.do"><i class="halflings-icon off"></i> 退出</a></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->

        </div>
    </div>
</div>
<!-- start: Header -->
<div class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div th:include="common :: #menu" th:remove="tag"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/main.do">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="/deduction.do">代扣</a></li>
            </ul>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">执行中 请不要关闭进度条</h4>
                        </div>
                        <div class="modal-body">
                            <div class="progress progress-striped progress-success active">
                                <div id="prog" class="bar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="confirmModal">
                <div class="modal-dialog">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4 class="modal-title">提示信息</h4>
                        </div>
                        <div class="modal-body">
                            <p>您确认要执行吗？</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>执行代扣</h2>
                    </div>
                    <div class="box-content">
                        <div>
                            <form class="form-horizontal" id="form">
                                <table class="table-bordered">
                                    <tr with="33%">
                                        <td>开始日期</td>
                                        <td><input size="16" type="text" id="startDate" class="form_datetime"
                                                   name="startDate"  style="width: 150px;"/></td>
                                        <td>结束日期</td>
                                        <td>
                                            <input size="16" type="text" id="endDate" class="form_datetime"
                                                   name="endDate"  style="width: 150px;"/></td>
                                        <td>客户名称</td>
                                        <td>
                                            <input type="text" class="" id="customerName" name="customerName"  style="width: 150px;"/></td>
                                        <td>合同号</td>
                                        <td >
                                            <input type="text" class="" id="contractNo" name="contractNo"  style="width: 150px;"/></td>
                                        <td>
                                            <input type="button" id="queryBtn" value="查询"/>
                                            <input type="button" id="deductionBtn" value="银联代扣"/>
                                            <input type="button" id="baoFuDeductionBtn" value="宝付代扣"/>
                                            <input type="button" id="deleteBtn" value="删除"/>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <table id="table"></table>
                    </div>
                </div><!--/span-->

            </div><!--/row-->
        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->

<footer>
    <p>
        <<span style="text-align:left;float:left" id="footer"></span>
    </p>
</footer>
<!-- start: JavaScript-->
<div th:include="common :: #script" th:remove="tag"></div>
<script src="/js/bootstrap-table.js"></script>
<script src="/js/bootstrap-table-zh-CN.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>


<script type="text/javascript" th:inline="javascript">
    var columns = [
        {
            field: 'type',
            title: 'type',
            checkbox: true,
            formatter: function (value, row, index) {
                if (value == "1") {
                    return true;
                } else {
                    return false;
                }
            }
        }, {
            field: 'id',
            title: "id"
        }, {
            field: 'number',
            title: '序号',
            formatter: function (value, row, index) {
                var options = $('#table').bootstrapTable("getOptions");
                return (options.pageNumber - 1) * (options.pageSize) + index + 1;
            }
        }, {
            field: 'contractNo',
            title: '合同编号'
        }, {
            field: 'customerName',
            title: '客户名称'
        }, {
            field: 'param1',
            title: '开户行'
        },  {
            field: 'param3',
            title: '银行卡号'
        }, {
            field: 'param6',
            title: '证件号码'
        }, {
            field: 'splitData1',
            title: '本息金额'
        }, {
            field: 'splitData2',
            title: '服务费金额'
        }, {
            field: 'target',
            title: '服务费管理公司'
        }];
    $(function () {
        function initTable() {
            $('#table').bootstrapTable({
                method: "POST",
                contentType: "application/x-www-form-urlencoded",
                url: "/mortgageDeductionController/queryDeductionData.do",
                queryParams: queryParams,
                sidePagination: "server",
                pageSize: 10,
                pageList: [10, 20, 100, 200, 500],
                clickToSelect: true, //单击选中行
                smartDisplay: true,
                cache: false,
                height: $(window).height() - 300,
                pagination: true,
                columns: columns,
                rowStyle: function rowStyle(row, index) {
                    if (index % 2 == 0) {
                        return {
                            classes: 'text-nowrap another-class',
                            css: {"background": "#fff"}
                        };
                    } else {
                        return {
                            classes: 'text-nowrap another-class',
                            css: {"background": "#aaa"}
                        };
                    }

                }
            });
        };
        initTable();
        $('#table').bootstrapTable('hideColumn', 'id');

        function FormatDate(strTime) {
            var date = new Date(strTime);
            return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
        }

        function queryParams() {
            var date = FormatDate(new Date())
            var starDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if (starDate == "") {
                starDate = date;
            }
            if (endDate == "") {
                endDate = date;
            }
            return {
                pageNumber: this.pageNumber,
                pageSize: this.pageSize,
                startDate: starDate,
                endDate: endDate,
                customerName: $("#customerName").val(),
                contractNo: $("#contractNo").val(),
                type: 1
            }
        };

        $("#startDate").datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true,
            todayBtn: true,
            startDate: new Date('1900-01-01')
        }).on("click", function () {
            $("#startDate").datetimepicker("setEndDate", $("#endDate").val())
        });
        $("#endDate").datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            todayBtn: true,
            autoclose: true,
            startDate: new Date('1900-01-01')
        }).on("click", function () {
            $("#endDate").datetimepicker("setStartDate", $("#startDate").val())
        });
        <!--设置默认时间_当天-->
        $('#startDate').datetimepicker("setValue");
        $('#endDate').datetimepicker("setValue");
        <!--查询按钮功能-->
        $("#queryBtn").click(function () {
            $('#table').bootstrapTable('removeAll');
            $('#table').bootstrapTable('refresh', {
                url: '/mortgageDeductionController/queryDeductionData.do',
                query: queryParams()
            })
        });

        <!--执行代扣功能-->
        function executeDeduct(deductionMethod) {
            $('#confirmModal').modal();
            $(".btn-success").click(function () {
                var ids = [];
                var rows = $('#table').bootstrapTable('getSelections');
                for (var i = 0; i < rows.length; i++) {
                    ids.push(rows[i].id);
                }
                increment();
                $('#myModal').modal('show');

                $.ajax({
                    url: "/mortgageDeductionController/saveMortgageDeductions.do",
                    timeout: 1800000,
                    method: "POST",
                    data: {"ids": ids.toString(), "reGenerate": "0", "deductionMethod": deductionMethod},
                    success: function (data) {
                        $('#myModal').modal('hide');
                        if ("1" == data) {
                            setTimeout("location.reload();", 4020);
                            noty({'text': '执行完成', 'layout': 'center', 'type': 'information', "timeout": "4000"});
                        } else {
                            if (data.length > 5) {
                                noty({
                                    'text': '执行失败,' + data,
                                    'layout': 'center',
                                    'type': 'error',
                                    "timeout": "4000"
                                });

                            } else {
                                noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                            }
                        }
                    }
                })
            })
        }


        <!--银联代扣按钮功能-->
        $("#deductionBtn").click(function () {
            executeDeduct("UNIONPAY");
        });
        <!--宝付代扣按钮功能-->
        $("#baoFuDeductionBtn").click(function () {
            executeDeduct("BAOFU");
        });


        <!--删除按钮功能-->
        $("#deleteBtn").click(function () {
            $('#confirmModal').modal();
            $(".btn-success").click(function () {
                var ids = [];
                var rows = $('#table').bootstrapTable('getSelections');
                for (var i = 0; i < rows.length; i++) {
                    ids.push(rows[i].id);
                }
                increment();
                $('#myModal').modal('show');

                $.ajax({
                    url: "/mortgageDeductionController/deleteMortgageDeductions.do",
                    timeout: 1800000,
                    method: "POST",
                    data: {"ids": ids.toString(),"reGenerate":"0"},
                    success: function (data) {
                        $('#myModal').modal('hide');
                        if ("1" == data) {
                            setTimeout("location.reload();", 4020);
                            noty({'text': '执行完成', 'layout': 'center', 'type': 'information', "timeout": "4000"});
                        } else {
                            if (data.length > 5) {
                                noty({
                                    'text': '执行失败,' + data,
                                    'layout': 'center',
                                    'type': 'error',
                                    "timeout": "4000"
                                });

                            } else {
                                noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                            }
                        }
                    }
                })
            })
        })
        


        var value = 0;
        <!--进度条自动增长-->
        function increment() {
            value += 1;
            if (value == 80) {
                clearTimeout(st);
                return;
            }
            $("#prog").css("width", value + "%")
            st = setTimeout(increment, 500);
        }

    })
</script>
<!-- end: JavaScript-->
</body>
</html>