<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:include="common :: #header" th:remove="tag"></title>
    <title>贷款发放信息</title>
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <link href="/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="/css/jquery.noty.css" rel="stylesheet">
    <link href="/css/uploadify.css" rel="stylesheet">
    <link href="/css/fileinput.min.css" rel="stylesheet">
</head>
<body>
<!-- start: Header -->
<div class="navbar">
    <div th:include="common :: #navbar" th:remove="tag"></div>
</div>
<!-- start: Header -->
<div class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div th:include="common :: #menu" th:remove="tag"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/main.do">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="/loan-issue-page.do">贷款发放</a></li>
            </ul>
            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>贷款发放信息</h2>
                    </div>
                    <div class="box-content">
                        <div>
                            <form id="form">
                                <table class="table-bordered">
                                    <tr>
                                        <td><label for="startDate">交易开始日期</label></td>
                                        <td><input size="16" type="text" id="startDate" class="form_datetime"
                                                   name="startDate" style="width: 150px;"/></td>
                                        <td><label for="endDate">结束日期</label></td>
                                        <td>
                                            <input size="16" type="text" id="endDate" class="form_datetime"
                                                   name="endDate" style="width: 150px;"/></td>
                                        <td><label for="accountName">收款人</label></td>
                                        <td>
                                            <input type="text" class="" id="accountName" name="accountName"
                                                   style="width: 150px;"/>
                                        </td>
                                        <td><label for="contractNo">合同号</label></td>
                                        <td>
                                            <input type="text" class="" id="contractNo" name="contractNo"
                                                   style="width: 150px;"/></td>
                                        <td><label for="businessNo">业务编号</label></td>
                                        <td>
                                            <input type="text" class="" id="businessNo" name="businessNo"
                                                   style="width: 150px;"/></td>
                                    </tr>
                                </table>
                            </form>

                            <table>
                                <tr>
                                    <td>操作</td>
                                    <td>
                                        <input type="button" class="btn btn-info" id="queryBtn" value="查询"/>
                                        <input type="button" class="btn" id="addBtn" value="新增"/>
                                        <input type="button" class="btn" id="issueBtn" value="放款"/>
                                        <input type="button" class="btn" id="queryResultBtn" value="查询交易结果"/>
                                        <input type="button" class="btn" id="exportBtn" value="导出"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table id="table"></table>
                    </div>
                </div><!--/span-->

            </div><!--/row-->

            <div class="modal fade" id="confirmModal" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4 class="modal-title">提示信息</h4>
                        </div>
                        <div class="modal-body">
                            <p>您确认要执行吗？</p>
                            <span id="logoImage"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-success" id="confirmdobtn" data-dismiss="modal">确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="modal fade" id="splitModal" style="display: none;width:800px;">
                <div class="modal-dialog">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4 class="modal-title">批量拆分还款记录</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="fileInputForm">
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label" for="uploadify">文件上传</label>
                                        <div class="controls">
                                            <input class="input-file uniform_on" id="uploadify" type="file"
                                                   name="uploadFile">
                                            <div id="fileQueue"></div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="splitModalSaveBtn">保存</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">执行进度</h4>
                        </div>
                        <div class="modal-body">
                            <div class="progress progress-striped progress-success active">
                                <div id="prog" class="bar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade " id="editModal" style="width:800px;display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="editModalTitle">新增贷款发放信息</h4>
                        </div>
                        <div class="modal-body">
                            <form id="editForm" class="modal-form">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td><label class="control-label" for="contract_no">合同编号</label></td>
                                        <td><input type="text" id="contract_no" name="contractNo" placeholder="合同编号"></td>
                                        <td><label class="control-label" for="business_no">业务编号</label></td>
                                        <td><input type="text" name="businesscontractNo" id="business_no" placeholder="业务编号"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="to_account_type">收款人账户类型</label></td>
                                        <td><select id="to_account_type" name="toAccountType">
                                            <option value="1" selected>个人</option>
                                            <option value="2">企业</option>
                                        </select>
                                        </td>
                                        <td><label class="control-label" for="to_account_name">收款人</label></td>
                                        <td><input type="text" name="toAccountName" id="to_account_name" placeholder="收款人"></td>

                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="to_bank_name_id">收款银行</label></td>
                                        <td><select id="to_bank_name_id" name="toBankNameId">
                                        </select></td>
                                        <td><label class="control-label" for="issue_amount">放款金额</label></td>
                                        <td><input type="text" name="issueAmount" id="issue_amount" placeholder="放款金额"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="to_bank_province">收款人开户行省名</label></td>
                                        <td><input type="text"  id="to_bank_province" name="toBankProvince" placeholder="个人账户可不填"></td>
                                        <td><label class="control-label" for="to_bank_city">收款人开户行市名</label></td>
                                        <td><input type="text" name="toBankCity" id="to_bank_city" placeholder="个人账户可不填"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="identity_no">证件号</label></td>
                                        <td><input type="text" name="identityNo" id="identity_no" placeholder="证件号"></td>
                                        <td><label class="control-label" for="mobile_no">手机号</label></td>
                                        <td><input type="text" name="mobileNo" id="mobile_no" placeholder="手机号"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="remark">备注</label></td>
                                        <td><input type="text" name="remark" id="remark" placeholder="备注"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->
<footer>
    <p>
        <span style="text-align:left;float:left" id="footer"></span>
    </p>
</footer>
<!-- start: JavaScript-->
<div th:include="common :: #script" th:remove="tag"></div>
<script src="/js/bootstrap-table.js"></script>
<script src="/js/bootstrap-table-zh-CN.js"></script>
<script src="/js/bootstrap-editable.js"></script>
<script src="/js/bootstrap-table-editable.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/piexif.min.js"></script>
<script src="/js/sortable.min.js"></script>
<script src="/js/purify.min.js"></script>
<script src="/js/fileinput.min.js"></script>
<script src="/js/theme.min.js"></script>
<script src="/js/zh.js"></script>


<script type="text/javascript" th:inline="javascript">
    var staffId = [[${session.loginUser.staffId}]];



    <!-- 入账公司对应入账银行 -->
    var chargeCompanyAndBankName = [{"chargeCompany": "润通", "bankNameList": ["招行0366", "建行3504"]},
        {"chargeCompany": "铠岳", "bankNameList": ["建行0334", "招行0202"]},
        {"chargeCompany": "润坤", "bankNameList": ["招行0901", "招行0702"]}
    ];
    var chargeCompanyAndBankNameLength = chargeCompanyAndBankName.length;
    <!-- 还款方式 -->
    var repaymentMethod = ["银行转账", "现金", "收银宝", "POS机刷卡"];


    <!-- 改变入账银行名 -->
    function changeBankName(chargeCompany) {
        for (var i = 0; i < chargeCompanyAndBankNameLength; i++) {
            if (chargeCompanyAndBankName[i].chargeCompany == chargeCompany) {
                var tempBankNameList = chargeCompanyAndBankName[i].bankNameList;
                var tempBankNameLength = tempBankNameList.length;
                var bankNameNode = $("#txt_bank_name");
                bankNameNode.empty();
                for (var j = 0; j < tempBankNameLength; j++) {
                    var bankName = tempBankNameList[j];
                    bankNameNode.append("<option value='" + bankName + "'>" + bankName + "</option>");
                }
                bankNameNode.append("<option value=''>无</option>")
                break;
            }
        }
    }

    var columns;
    columns = [{
        field: 'checked',
        checkbox: true
    }, {
        field: 'number',
        title: '序号',
        formatter: function (value, row, index) {
            var options = $('#table').bootstrapTable("getOptions");
            return (options.pageNumber - 1) * (options.pageSize) + index + 1;
        }
    }, {
        field: 'id',
        title: 'id'
    }, {
        field: 'businessNo',
        title: '业务编号'
    }, {
        field: 'contractNo',
        title: '合同编号'
    }, {
        field: 'toAccountName',
        title: '收款人'
    }, {
        field: 'toAccountNo',
        title: '收款账号'
    }, {
        field: 'toBankNameId',
        title: '银行名'
    }, {
        field: 'identityNo',
        title: '身份证号'
    }, {
        field: 'mobileNo',
        title: '手机号'
    }, {
        field: 'issueAmount',
        title: '金额'
    }, {
        field: 'loanIssue.transactionNo',
        title: '订单号'
    }, {
        field: 'loanIssue.acceptTransactionStatus',
        title: '收单状态',
        formatter: function (value, row, index) {
            if (value == '1') {
                return '已收单';
            } else if (value == '0') {
                return '未收单';
            } else {
                return '未知状态'
            }
        }
    }, {
        field: 'loanIssue.transactionStatus',
        title: '交易状态',
        formatter: function (value, row, index) {
            if (value == '0') {
                return '转账处理中';
            } else if (value == '1') {
                return '转账成功';
            } else if (value == '2') {
                return '转账失败'
            } else if (value == '3') {
                return '转账退款'
            }
        }
    }];


    $(function () {
        function initTable() {
            $('#table').bootstrapTable({
                method: "POST",
                contentType: "application/x-www-form-urlencoded",
                url: "/loanIssueController/queryLoanIssue.do",
                queryParams: queryParams,
                sidePagination: "server",
                pageSize: 10,
                pageList: [10, 20, 30, 40, 100, 200, 500],
                smartDisplay: true,
                cache: false,
                height: $(window).height() - 300,
                pagination: true,
                columns: columns,
                clickEdit: true,
                rowStyle: function rowStyle(row, index) {
                    if (index % 2 == 0) {
                        return {
                            classes: 'text-nowrap another-class',
                            css: {"background": "#fff"}
                        };
                    } else {
                        return {
                            classes: 'text-nowrap another-class',
                            css: {"background": "#aaa"}
                        };
                    }

                },
                onEditableSave: function (field, row, oldValue, $el) {
                    $.ajax({
                        type: "post",
                        url: "/loanIssueController/updateNonDeduction.do",
                        data: row,
                        dataType: 'JSON',
                        success: function (data) {
                            setTimeout(" $('#table').bootstrapTable('refresh')", 4000);
                            if (data == "1") {
                                noty({
                                    'text': '执行完成',
                                    'layout': 'center',
                                    'type': 'information',
                                    "timeout": "4000"
                                });
                            } else {
                                noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                            }
                        },
                        error: function () {
                            noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                        }
                    })

                },
                onDblClickRow: function (row, value, field) {
                    //双击后弹出拆分非代扣还款信息模态框,按确认后会新增一条非代扣还款信息,假设此条非代扣还款信息还款金额为X元,
                    // 然后会将原始的非代扣还款信息的还款金额相应减少X元并更新数据库记录.
                    $("#editForm")[0].reset();
                    $("#txt_originalNonDeductionRepaymentInfoId").val(row.id);
                    $("#txt_charge_company").val(row.chargeCompany);
                    changeBankName(row.chargeCompany);
                    $("#txt_repayment_term_date").val(row.repaymentTermDate);
                    $("#txt_repayment_original_info").val(row.repaymentOriginalInfo);
                    $("#txt_repayment_method").val(row.repaymentMethod);
                    $("#txt_bank_name").select(row.bankName);
                    $("#txt_repayment_type").val(row.repaymentType);
                    $("#editModal").modal();
                }
            });
        }


        var startDateNode = $("#startDate");
        var endDateNode = $("#endDate");

        <!--设置默认时间-->
        startDateNode.datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true,
            todayBtn: true,
            startDate: new Date('1900-01-01')
        }).on("click", function () {
            startDateNode.datetimepicker("setEndDate", endDateNode.val())
        });
        endDateNode.datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            todayBtn: true,
            autoclose: true,
            startDate: new Date('1900-01-01')
        }).on("click", function () {
            endDateNode.datetimepicker("setStartDate", startDateNode.val())
        });



        initTable();
        $('#table').bootstrapTable('hideColumn', 'id');

        function queryParams() {
            var date = formatDate(new Date())
            var startDate = startDateNode.val();
            var endDate = endDateNode.val();
            if (startDate == "") {
                startDate = date;
            }
            if (endDate == "") {
                endDate = date;
            }
            return {
                pageNumber: this.pageNumber,
                pageSize: this.pageSize,
                startDate: startDate,
                endDate: endDate,
                accountName: $("#accountName").val(),
                contractNo: $("#contractNo").val(),
                businessNo: $("#businessNo").val()
            }
        }

        <!--查询按钮功能-->
        $("#queryBtn").click(function () {
            query()
        });


        function query() {
            $('#table').bootstrapTable('removeAll');
            $('#table').bootstrapTable('refresh', {
                url: '/loanIssueController/queryLoanIssue.do',
                query: queryParams()
            });
        }


        <!--新增按钮功能-->
        $("#addBtn").click(function () {
            $("#editForm")[0].reset();
            $("#editModal").modal();
        });

        <!--新增模态框中的确认按钮功能-->
        $("#editModal .btn-success").click(function () {
            var modalRole = $("#modalRole").val();
            var url;
            if (modalRole == "split") {
                url = "/nonDeductionController/splitNonDeduction.do";
            } else {
                url = "/nonDeductionController/saveNonDeduction.do";
            }
            var sendData = $("#editForm").serializeObject();
            if (!sendData.repaymentAmount || !isNumberic(sendData.repaymentAmount)) {
                noty({'text': '还款金额为空或者不是数字', 'layout': 'center', 'type': 'error', "timeout": "5000"});
                return false;
            }
            if (!sendData.repaymentTermDate) {
                noty({'text': '还款日期为空', 'layout': 'center', 'type': 'error', "timeout": "5000"});
                return false;
            }
            $.ajax({
                type: "post",
                url: url,
                data: sendData,
                dataType: 'JSON',
                success: function (data) {
                    if (data == "1") {
                        setTimeout(query, 4000);
                        noty({'text': '执行完成', 'layout': 'center', 'type': 'information', "timeout": "4000"});
                    } else {
                        noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                    }

                },
                error: function (data) {
                    noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                }
            });
        });
        var value;
        <!--上传入账文件模态框中的确认按钮功能-->
        $("#uploadBtn").click(function () {
            var ids = [];
            var rows = $('#table').bootstrapTable('getSelections');
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].id);
            }
            if (ids.length <= 0) {
                noty({'text': '请选择一条记录上传', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                return;
            }
            $('#confirmModal').modal();
            var confirmdobtn = $("#confirmdobtn");
            confirmdobtn.unbind("click");
            confirmdobtn.click(function () {
                value = 0;
                increment(value);
                $('#myModal').modal('show');

                $.ajax({
                    url: "/nonDeductionController/uploadAutoAccountingFile.do",
                    timeout: 1800000,
                    method: "POST",
                    data: {"ids": ids.toString()},
                    dataType: 'JSON',
                    success: function (data) {
                        value = 0;
                        $('#myModal').modal('hide');
                        if ("1" == data) {
                            setTimeout(query(), 4020);
                            noty({'text': '执行完成', 'layout': 'center', 'type': 'information', "timeout": "5000"});
                        } else {
                            noty({
                                'text': '执行失败,' + data,
                                'layout': 'center',
                                'type': 'error',
                                "timeout": "6000"
                            });
                        }

                    },
                    error: function (data) {
                        value = 0;
                        $('#myModal').modal('hide');
                        noty({
                            'text': '执行失败,' + data.responseText,
                            'layout': 'center',
                            'type': 'error',
                            "timeout": "6000"
                        });
                    }
                })
            });

        });

        <!-- 新增模态框中入账公司变化时,同时修改入账银行名称-->
        $("#txt_charge_company").change(function () {
            var chargeCompany = $(this).val();
            changeBankName(chargeCompany);
        });


        <!-- 新增模态框中还款方式初始化-->
        var repaymentMethodNode = $("#txt_repayment_method");
        repaymentMethodNode.empty();
        for (var i = 0; i < repaymentMethod.length; i++) {
            repaymentMethodNode.append("<option value='" + repaymentMethod[i] + "'>" + repaymentMethod[i] + "</option>");
        }
        <!-- 新增模态框中还款方式初始化-->
        repaymentMethodNode.change(function () {
            var repaymentMethodNodeVal = repaymentMethodNode.val();
            if (repaymentMethodNodeVal != '银行转账') {
                $("#txt_bank_name :last-child").attr("selected", true);
            }
        });


        <!-- 重新尝试匹配-->
        $("#freshBtn").click(function () {
            value = 0;
            increment(value);
            $('#myModal').modal('show');
            $.ajax({
                url: "/nonDeductionController/retrySearchBusinessTransactionInfo.do",
                timeout: 1800000,
                method: "POST",
                data: queryParams(),
                success: function (data) {
                    value = 0;
                    $('#myModal').modal('hide');
                    if ("1" == data) {
                        setTimeout(query(), 4020);
                        noty({'text': '执行完成', 'layout': 'center', 'type': 'information', "timeout": "4000"});
                    } else {
                        noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                    }
                },
                error: function (data) {
                    noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                }
            })
        });

        //拆分的id
        var idData;
        var uploadNode = $("#uploadify");
        uploadNode.fileinput({
            language: 'zh', //设置语言
            uploadUrl: "/nonDeductionController/batchSplitNonDeduction.do", //上传的地址
            allowedFileExtensions: ['xls', 'xlsx'],//['xls', 'xlsx']指定文件后缀
            showUpload: false, //是否显示上传按钮
            showCaption: true,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 1,//最大上传文件数限制
            uploadAsync: true,
            dropZoneEnabled: true,
            maxFileSize: 10240,
            showPreview: true,
            uploadExtraData: function (previewId, index) {           //传参
                return idData;
            }

        });
        //导入文件上传完成之后的事件
        uploadNode.on("fileuploaded", function (event, data, previewId, index) {
            $('#splitModal').modal('hide');
            var result = data.response.result;
            var msg = data.response.msg;
            if ("1" == result) {
                setTimeout(query(), 4020);
                noty({'text': msg + '拆分成功', 'layout': 'center', 'type': 'information', "timeout": "4000"});
            } else {
                noty({'text': '拆分失败,' + msg, 'layout': 'center', 'type': 'error', "timeout": "4000"});
            }
        });
        //异步上传错误结果处理
        uploadNode.on('fileerror', function (event, data, msg) {
            $('#splitModal').modal('hide');
            var result = data.response.result;
            var msg = data.response.msg;
            if ("0" == result) {
                noty({'text': '拆分失败,' + msg, 'layout': 'center', 'type': 'error', "timeout": "4000"});
            }
        });

        //拆分模态框中保存按钮
        $("#splitModalSaveBtn").click(function () {
            //上传
            uploadNode.fileinput("upload");
        });

        <!--导出结果按钮功能-->
        $("#exportBtn").click(function () {
            var repaymentStartDate = repaymentStartDateNode.val();
            var repaymentEndDate = repaymentEndDateNode.val();
            var contractNo = $("#contractNo").val();
            var customerName = $("#customerName").val();
            var isIntegrated = $("#select_isIntegrated").val();
            var isUploaded = $("#isUploaded").val();
            var importStartDate = importStartDateNode.val();
            var importEndDate = importEndDateNode.val();
            var chargeCompany = $("#select_chargeCompany").val();
            var repaymentMethod = $("#select_repaymentMethod").val();
            var bankName = $("#bankName").val();
            var repaymentType = $("#select_repayment_type").val();
            location.href = "/nonDeductionController/exportXLS.do?repaymentStartDate=" + repaymentStartDate + "&repaymentEndDate=" + repaymentEndDate +
                "&contractNo=" + contractNo + "&customerName=" + customerName + "&isIntegrated=" + isIntegrated + "&isUploaded=" + isUploaded + "&importStartDate=" + importStartDate + "&importEndDate=" + importEndDate
                + "&chargeCompany=" + chargeCompany + "&repaymentMethod=" + repaymentMethod + "&bankName=" + bankName + "&repaymentType=" + repaymentType;
        });
        <!--查询条件入账公司变更与入账银行联动-->
        $("#chargeCompany").click(function () {
            for (var i = 0; i < chargeCompanyAndBankNameLength; i++) {
                if (chargeCompanyAndBankName[i].chargeCompany == $(this).val()) {
                    var tempBankNameList = chargeCompanyAndBankName[i].bankNameList;
                    var tempBankNameLength = tempBankNameList.length;
                    var bankNameNode = $("#bankName");
                    bankNameNode.empty();
                    bankNameNode.append("<option value='0' selected>全部</option>");
                    for (var j = 0; j < tempBankNameLength; j++) {
                        var bankName = tempBankNameList[j];
                        bankNameNode.append("<option value='" + bankName + "'>" + bankName + "</option>");
                    }
                    break;
                }
            }
        });

        <!--进度条自动增长-->
        function increment(value) {
            value += 1;
            if (value == 80) {
                clearTimeout(st);
                return;
            }
            $("#prog").css("width", value + "%")
            st = setTimeout(increment, 500);
        }

        <!--导入按钮功能-->
        $("#importRepaymentBtn").click(function () {
            $('#confirmModal').modal();
            var confirmdobtn = $("#confirmdobtn");
            confirmdobtn.unbind("click");
            confirmdobtn.click(function () {
                value = 0;
                increment(value);
                $('#myModal').modal('show');

                $.ajax({
                    url: "/nonDeductionController/repaymentInfoImport.do",
                    timeout: 1800000,
                    method: "POST",
                    success: function (data) {
                        $('#myModal').modal('hide');
                        if ("1" == data) {
                            noty({'text': '执行完成', 'layout': 'center', 'type': 'information', "timeout": "4000"});
                        } else if (data.length > 5) {
                            noty({
                                'text': '执行失败,' + data,
                                'layout': 'center',
                                'type': 'error',
                                "timeout": "4000"
                            });

                        } else {
                            noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                        }
                    }
                })
            })
        });

        <!--更改上传状态-->
        $("#modifyUploadStatusBtn").click(function () {
            var ids = [];
            var rows = $('#table').bootstrapTable('getSelections');
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].id);
            }
            if (ids.length <= 0) {
                noty({'text': '请选择一条记录更新上传状态', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                return;
            }
            $('#confirmModal').modal();
            var confirmdobtn = $("#confirmdobtn");
            confirmdobtn.unbind("click");
            confirmdobtn.click(function () {
                value = 0;
                increment(value);
                $('#myModal').modal('show');

                $.ajax({
                    url: "/nonDeductionController/modifyUploadStatus.do",
                    timeout: 1800000,
                    method: "POST",
                    data: {"ids": ids.toString()},
                    dataType: 'JSON',
                    success: function (data) {
                        value = 0;
                        $('#myModal').modal('hide');
                        if ("1" == data) {
                            setTimeout(query(), 4020);
                            noty({'text': '执行完成', 'layout': 'center', 'type': 'information', "timeout": "5000"});
                        } else {
                            noty({
                                'text': '执行失败,' + data,
                                'layout': 'center',
                                'type': 'error',
                                "timeout": "6000"
                            });
                        }

                    },
                    error: function (data) {
                        value = 0;
                        $('#myModal').modal('hide');
                        noty({
                            'text': '执行失败,' + data.responseText,
                            'layout': 'center',
                            'type': 'error',
                            "timeout": "6000"
                        });
                    }
                })
            });


        })

        $(document).ready(function () {
            $("#kvFileinputModal").css('display', 'none');

        });

    })
</script>
<!-- end: JavaScript-->
</body>
</html>