<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:include="common :: #header" th:remove="tag"></title>
    <title>非代扣还款信息</title>
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <link href="/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <style>
        mark {
            background-color: #00ff90;
            font-weight: bold;
        }
    </style>
</head>
<body>
<!-- start: Header -->
<div class="navbar">
    <div th:include="common :: #navbar" th:remove="tag"></div>
</div>
<!-- start: Header -->
<div class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div th:include="common :: #menu" th:remove="tag"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/main.do">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="/non-deduction-show.do">非代扣还款信息</a></li>
            </ul>
            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>非代扣还款数据</h2>
                    </div>
                    <div class="box-content">
                        <div>
                            <form class="form-horizontal" id="form">
                                <table class="table-bordered">
                                    <tr>
                                        <td>还款开始日期</td>
                                        <td><input size="16" type="text" id="startDate" class="form_datetime"
                                                   name="startDate" style="width: 150px;"/></td>
                                        <td>结束日期</td>
                                        <td>
                                            <input size="16" type="text" id="endDate" class="form_datetime"
                                                   name="endDate" style="width: 150px;"/></td>
                                        <td>客户名称</td>
                                        <td>
                                            <input type="text" class="" id="customerName" name="customerName"
                                                   style="width: 150px;"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>合同号</td>
                                        <td>
                                            <input type="text" class="" id="contractNo" name="contractNo"
                                                   style="width: 150px;"/></td>
                                        <td>是否有合同号</td>
                                        <td>
                                            <select id="select_isIntegrated" style="width: 150px;" name="isIntegrated">
                                                <option value="0,1" selected>全部</option>
                                                <option value="1">有</option>
                                                <option value="0">没有</option>
                                            </select>
                                        </td>
                                        <td>操作</td>
                                        <td>
                                            <input type="button" class="btn btn-info" id="queryBtn" value="查询"/>
                                            <input type="button" class="btn " id="addBtn" value="新增"/>
                                            <input type="button" class="btn " id="uploadBtn" value="上传自动入账文件"/>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <table id="table"></table>
                    </div>
                </div><!--/span-->

            </div><!--/row-->

            <div class="modal fade" id="confirmModal" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4 class="modal-title">提示信息</h4>
                        </div>
                        <div class="modal-body">
                            <p>您确认要执行吗？</p>
                            <span id="logoImage"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-success" id="confirmdobtn" data-dismiss="modal">确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">执行进度</h4>
                        </div>
                        <div class="modal-body">
                            <div class="progress progress-striped progress-success active">
                                <div id="prog" class="bar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade " id="editModal" style="width:800px;display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="editModalTitle">新增还款信息</h4>
                        </div>
                        <div class="modal-body">
                            <!-- 模态框的角色:新增非代扣还款信息模态框,拆分非代扣还款信息模态框 -->
                            <input type="text" id="modalRole" style="display: none">
                            <form id="editForm" class="modal-form">
                                <input type="text" id="txt_originalNonDeductionRepaymentInfoId"
                                       name="originalNonDeductionRepaymentInfoId" style="display: none">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td><label class="control-label" for="txt_charge_company">入账公司</label></td>
                                        <td><select id="txt_charge_company" name="chargeCompany">
                                            <option value="润通">润通</option>
                                            <option value="铠岳">铠岳</option>
                                            <option value="润坤">润坤</option>
                                        </select></td>
                                        <td><label class="control-label" for="txt_contract_no">合同编号</label></td>
                                        <td><input type="text" name="contractNo" id="txt_contract_no"
                                                   placeholder="合同编号"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="txt_repayment_term_date">还款日期</label></td>
                                        <td><input type="text" name="repaymentTermDate" id="txt_repayment_term_date"
                                                   placeholder="还款日期"></td>
                                        <td><label class="control-label" for="txt_customer_name">客户名称</label></td>
                                        <td><input type="text" name="customerName" id="txt_customer_name"
                                                   placeholder="客户名称"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="txt_repayment_method">还款方式</label></td>
                                        <td><select id="txt_repayment_method" name="repaymentMethod">
                                        </select></td>
                                        <td><label class="control-label" for="txt_bank_name">入账银行</label></td>
                                        <td><select id="txt_bank_name" name="bankName">
                                            <option value="招行0366">招行0366</option>
                                            <option value="建行3504">建行3504</option>
                                        </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="txt_repayment_type">还款类别</label></td>
                                        <td><select id="txt_repayment_type" name="repaymentType">
                                            <option value="本息">本息</option>
                                            <option value="服务费">服务费</option>
                                            <option value="调查评估费">调查评估费</option>
                                        </select></td>
                                        <td><label class="control-label" for="txt_repayment_amount">还款金额</label></td>
                                        <td><input type="text" name="repaymentAmount" id="txt_repayment_amount"
                                                   placeholder="还款金额"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label"
                                                   for="txt_repayment_original_info">还款原始信息</label></td>
                                        <td><input type="text" name="repaymentOriginalInfo"
                                                   id="txt_repayment_original_info" placeholder="还款原始信息"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->
<footer>
    <p>
        <span style="text-align:left;float:left" id="footer"></span>
    </p>
</footer>
<!-- start: JavaScript-->
<div th:include="common :: #script" th:remove="tag"></div>
<script src="/js/bootstrap-table.js"></script>
<script src="/js/bootstrap-table-zh-CN.js"></script>
<script src="/js/bootstrap-editable.min.js"></script>
<script src="/js/bootstrap-table-editable.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>


<script type="text/javascript" th:inline="javascript">
    var staffId = [[${session.loginUser.staffId}]];
    if (staffId == 1 || staffId == 3384 || staffId == 3390) {
        $("#uploadBtn").show();
    } else {
        $("#uploadBtn").hide();
    }
    <!-- 入账公司对应入账银行 -->
    var chargeCompanyAndBankName = [{"chargeCompany": "润通", "bankNameList": ["招行0366", "建行3504"]},
        {"chargeCompany": "铠岳", "bankNameList": ["建行0334"]},
        {"chargeCompany": "润坤", "bankNameList": ["招行0901"]}
    ];
    var chargeCompanyAndBankNameLength = chargeCompanyAndBankName.length;
    <!-- 还款方式 -->
    var repaymentMethod = ["银行转账", "现金", "微信", "POS机刷卡"];


    <!-- 改变入账银行名 -->
    function changeBankName(chargeCompany) {
        for (var i = 0; i < chargeCompanyAndBankNameLength; i++) {
            if (chargeCompanyAndBankName[i].chargeCompany == chargeCompany) {
                var tempBankNameList = chargeCompanyAndBankName[i].bankNameList;
                var tempBankNameLength = tempBankNameList.length;
                var bankNameNode = $("#txt_bank_name");
                bankNameNode.empty();
                for (var j = 0; j < tempBankNameLength; j++) {
                    var bankName = tempBankNameList[j];
                    bankNameNode.append("<option value='" + bankName + "'>" + bankName + "</option>");
                }
                break;
            }
        }
    }


    var columns;
    columns = [{
        field: 'state',
        checkbox: true
    }, {
        field: 'number',
        title: '序号',
        formatter: function (value, row, index) {
            var options = $('#table').bootstrapTable("getOptions");
            return (options.pageNumber - 1) * (options.pageSize) + index + 1;
        }
    }, {
        field: 'id',
        title: 'id'
    }, {
        field: 'chargeCompany',
        title: '入账公司'
    }, {
        field: 'contractNo',
        title: '合同编号',
        editable: {
            type: 'text',
            title: '合同编号编辑'
        },
        formatter: function (value, row, index) {
            if (!value) {
                return "无";
            }
            return value;
        }
    }, {
        field: 'repaymentTermDate',
        title: '还款日期',
        formatter: function (value, row, index) {
            return formatDate(value);
        }

    }, {
        field: 'repaymentOriginalInfo',
        title: '还款原始信息'
    }, {
        field: 'customerName',
        title: '单位/个人还款',
        editable: {
            type: 'text',
            title: '单位/个人还款编辑',
            validate: function (v) {
                if (!v) return '单位/个人还款不能为空';
            }
        }
    }, {
        field: 'repaymentMethod',
        title: '还款方式'
    }, {
        field: 'repaymentType',
        title: '还款类别',
        editable: {
            type: 'select',
            title: '还款类别编辑',
            source: [{value: "本息", text: "本息"}, {value: "服务费", text: "服务费"}, {value: "调查评估费", text: "调查评估费"}],
            emptytext: "无",
            validate: function (v) {
                if (!v) return '还款类别不能为空';
            }
        }
    }, {
        field: 'repaymentAmount',
        title: '还款金额'
    }, {
        field: 'bankName',
        title: '银行转账入账银行',
        editable: {
            type: 'select',
            title: '银行转账入账银行编辑',
            source: function () {
                var sourceInfo = [];
                var $this = $(this).parent();
                <!-- 如果要增加或者减少前面的字段,这里的$this.prevAll()[7].innerHTML 7 需要相应的修改 -->
                var chargeCompany = $this.prevAll()[7].innerHTML;
                for (var i = 0; i < chargeCompanyAndBankNameLength; i++) {
                    if (chargeCompanyAndBankName[i].chargeCompany == chargeCompany) {
                        var tempBankNameList = chargeCompanyAndBankName[i].bankNameList;
                        var tempBankNameLength = tempBankNameList.length;
                        for (var j = 0; j < tempBankNameLength; j++) {
                            sourceInfo.push({"value": tempBankNameList[j], text: tempBankNameList[j]});
                        }
                        break;
                    }
                }
                if (sourceInfo.length > 0) {
                    return sourceInfo;
                }
                return [{value: "招行0366", text: "建行3504"}, {value: "建行3504", text: "建行3504"}, {
                    value: "建行0334",
                    text: "建行0334"
                }, {value: "招行0901", text: "招行0901"}];
            },
            emptytext: "无",
            validate: function (v) {
                if (!v) return '入账银行不能为空';
            }
        }
    }, {
        field: 'isUploaded',
        title: '是否自动入账上传',
        formatter: function (value, row, index) {
            if (value == '1') {
                return '已上传';
            } else if (value == '0') {
                return '未上传';
            } else {
                return '未知状态'
            }
        }
    }];

    function setDisabledFalse() {
        $("#txt_charge_company").attr("disabled", false);
        $("#txt_repayment_method").attr("disabled", false);
        $("#txt_bank_name").attr("disabled", false);
        $("#txt_repayment_type").attr("disabled", false);
    }

    $(function () {
        function initTable() {
            $('#table').bootstrapTable({
                method: "POST",
                contentType: "application/x-www-form-urlencoded",
                url: "/nonDeductionController/queryNonDeductionRepaymentInfo.do",
                queryParams: queryParams,
                sidePagination: "server",
                pageSize: 30,
                pageList: [10, 20, 30, 100, 200, 500],
                smartDisplay: true,
                cache: false,
                height: $(window).height() - 300,
                pagination: true,
                columns: columns,
                clickEdit: true,
                rowStyle: function rowStyle(row, index) {
                    if (row.isIntegrated == 0) {
                        return {
                            classes: 'text-nowrap another-class',
                            css: {"background": "#d1d1d1"}
                        };
                    } else {
                        return {
                            classes: 'text-nowrap another-class',
                            css: {"background": "#3ce777"}
                        };
                    }

                },
                onEditableSave: function (field, row, oldValue, $el) {
                    if (staffId == 1 || staffId == 1304 || staffId == 2337 || staffId == 1211 || staffId == row.createId) {
                        $.ajax({
                            type: "post",
                            url: "/nonDeductionController/updateNonDeduction.do",
                            data: row,
                            dataType: 'JSON',
                            success: function (data) {
                                setTimeout(" $('#table').bootstrapTable('refresh')", 4000);
                                if (data == "1") {
                                    noty({
                                        'text': '执行完成',
                                        'layout': 'center',
                                        'type': 'information',
                                        "timeout": "4000"
                                    });
                                } else {
                                    noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                                }
                            },
                            error: function () {
                                noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                            }
                        })
                    } else {
                        noty({'text': '操作未完成:无权限进行操作!', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                    }
                    ;
                },
                onDblClickRow: function (row, value, field) {
                    //双击后弹出拆分非代扣还款信息模态框,按确认后会新增一条非代扣还款信息,假设此条非代扣还款信息还款金额为X元,
                    // 然后会将原始的非代扣还款信息的还款金额相应减少X元并更新数据库记录.
                    $("#editForm")[0].reset();
                    //设置模态框角色
                    $("#modalRole").val("split");
                    //设置模态框标题
                    $("#editModalTitle").html("<mark>拆分</mark>非代扣还款信息");
                    $("#txt_originalNonDeductionRepaymentInfoId").val(row.id);
                    var txt_charge_company = $("#txt_charge_company");
                    txt_charge_company.val(row.chargeCompany);
                    txt_charge_company.attr("disabled", true);
                    changeBankName(row.chargeCompany);
                    $("#txt_repayment_term_date").val(row.repaymentTermDate);
                    $("#txt_repayment_original_info").val(row.repaymentOriginalInfo);
                    var txt_repayment_method = $("#txt_repayment_method");
                    txt_repayment_method.val(row.repaymentMethod);
                    txt_repayment_method.attr("disabled", true);
                    var txt_bank_name = $("#txt_bank_name");
                    txt_bank_name.select(row.bankName);
                    txt_bank_name.attr("disabled", true);
                    var txt_repayment_type = $("#txt_repayment_type");
                    txt_repayment_type.val(row.repaymentType);
                    txt_repayment_type.attr("disabled", true);
                    $("#editModal").modal();
                }
            });
        };
        $("#startDate").datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true,
            todayBtn: true,
            startDate: new Date('1900-01-01')
        }).on("click", function () {
            $("#startDate").datetimepicker("setEndDate", $("#endDate").val())
        });
        $("#endDate").datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            todayBtn: true,
            autoclose: true,
            startDate: new Date('1900-01-01')
        }).on("click", function () {
            $("#endDate").datetimepicker("setStartDate", $("#startDate").val())
        });
        <!--设置默认时间-->
        var preDate = new Date(new Date().getTime() - 24 * 60 * 60 * 1000);
        <!--设置开始日期默认时间为昨天-->
        $('#startDate').datetimepicker('update', preDate);
        <!--设置结束日期默认时间为当天-->
        $('#endDate').datetimepicker("setValue");


        initTable();
        $('#table').bootstrapTable('hideColumn', 'id');

        function queryParams() {
            var date = formatDate(new Date())
            var starDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if (starDate == "") {
                starDate = date;
            }
            if (endDate == "") {
                endDate = date;
            }
            return {
                pageNumber: this.pageNumber,
                pageSize: this.pageSize,
                startDate: starDate,
                endDate: endDate,
                customerName: $("#customerName").val(),
                contractNo: $("#contractNo").val(),
                isIntegrated: $("#select_isIntegrated").val()
            }
        };

        <!--查询按钮功能-->
        $("#queryBtn").click(function () {
            query()
        });
        <!--是否有合同编号选择变化重新加载数据-->
        $("#select_isIntegrated").change(function () {
            query();
        });

        function query() {
            $('#table').bootstrapTable('removeAll');
            $('#table').bootstrapTable('refresh', {
                url: '/nonDeductionController/queryNonDeductionRepaymentInfo.do',
                query: queryParams()
            })
        }

        <!--新增按钮功能-->
        $("#addBtn").click(function () {
            $("#editForm")[0].reset();
            //设置模态框角色
            $("#modalRole").val("add");
            //设置模态框标题
            $("#editModalTitle").html("<mark>新增</mark>非代扣还款信息");
            setDisabledFalse();
            $("#editModal").modal();
        });
        $("#txt_repayment_term_date").datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true,
            todayBtn: true,
            startDate: new Date('1900-01-01')
        });

        <!--新增模态框中的确认按钮功能-->
        $("#editModal .btn-success").click(function () {
            setDisabledFalse();
            var modalRole = $("#modalRole").val();
            var url;
            if (modalRole == "split") {
                url = "/nonDeductionController/splitNonDeduction.do";
            } else {
                url = "/nonDeductionController/saveNonDeduction.do";
            }
            $.ajax({
                type: "post",
                url: url,
                data: $("#editForm").serialize(),
                dataType: 'JSON',
                success: function (data) {
                    if (data == "1") {
                        setTimeout(" $('#table').bootstrapTable('refresh')", 4000);
                        if (data == "1") {
                            noty({'text': '执行完成', 'layout': 'center', 'type': 'information', "timeout": "4000"});
                        } else {
                            noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                        }
                    }
                }
            });
        });

        <!--上传态框中的确认按钮功能-->
        $("#uploadBtn").click(function () {
            var ids = [];
            var rows = $('#table').bootstrapTable('getSelections');
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].id);
            }
            if (ids.length <= 0) {
                noty({'text': '请选择一条记录上传', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                return;
            }
            $('#confirmModal').modal();
            $("#confirmdobtn").click(function () {
                value = 0;
                increment();
                $('#myModal').modal('show');

                $.ajax({
                    url: "/nonDeductionController/uploadAutoAccountingFile.do",
                    timeout: 1800000,
                    method: "POST",
                    data: {"ids": ids.toString()},
                    success: function (data) {
                        value = 0;
                        $('#myModal').modal('hide');
                        if ("1" == data) {
                            setTimeout("location.reload();", 4020);
                            noty({'text': '执行完成', 'layout': 'center', 'type': 'information', "timeout": "4000"});
                        } else {
                            if (data.length > 5) {
                                noty({
                                    'text': '执行失败,' + data,
                                    'layout': 'center',
                                    'type': 'error',
                                    "timeout": "4000"
                                });

                            } else {
                                noty({'text': '执行失败', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                            }
                        }
                    }
                })
            })
        });

        <!-- 新增模态框中入账公司变化时,同时修改入账银行名称-->
        $("#txt_charge_company").change(function () {
            var chargeCompany = $(this).val();
            changeBankName(chargeCompany);
        });


        <!-- 新增模态框中还款方式初始化-->
        var repaymentMethodNode = $("#txt_repayment_method");
        repaymentMethodNode.empty();
        for (var i = 0; i < repaymentMethod.length; i++) {
            repaymentMethodNode.append("<option value='" + repaymentMethod[i] + "'>" + repaymentMethod[i] + "</option>");
        }


    })
</script>
<!-- end: JavaScript-->
</body>
</html>