<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:include="common :: #header" th:remove="tag"></title>
    <title>修改密码</title>
    <link href="/css/jquery.noty.css" rel="stylesheet">
    <link href="/css/uploadify.css" rel="stylesheet">
    <link href="/css/fileinput.min.css" rel="stylesheet">
</head>
<body>
<!-- start: Header -->
<div class="navbar">
    <div th:include="common :: #navbar" th:remove="tag"></div>
</div>
<!-- start: Header -->
<div class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div th:include="common :: #menu" th:remove="tag"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/main.do">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="/resetPassword">修改密码</a></li>
            </ul>

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>修改密码</h2>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" id="fileInputForm" action="" >
                            <div class="control-group">
                                <label class="control-label" for="password">新密码</label>
                                <div class="controls">
                                    <input type="password" id="password" placeholder="输入新密码"/> <img src="/img/hide_password.png" style="height: 1.5rem;width: 1.5rem" id="pwdEye" class="visible hiddenpwd">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="rePassword">确认新密码</label>
                                <div class="controls">
                                    <input type="password" id="rePassword" placeholder="确认新密码"> <img src="/img/hide_password.png" style="height: 1.5rem;width: 1.5rem" id="rePwdEye" class="visible hiddenpwd">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="button" class="btn" id="submitbtn">确认修改</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div><!--/span-->

            </div><!--/row-->

        </div><!--/row-->
    </div><!--/.fluid-container-->

    <!-- end: Content -->
</div><!--/#content.span10-->
</div><!--/fluid-row-->

<footer>
    <p>
        <span style="text-align:left;float:left" id="footer"></span>
    </p>
</footer>
<!-- start: JavaScript-->
<div th:include="common :: #script" th:remove="tag"></div>
<script src="/js/piexif.min.js"></script>
<script src="/js/sortable.min.js"></script>
<script src="/js/purify.min.js"></script>
<script src="/js/fileinput.min.js"></script>
<script src="/js/theme.min.js"></script>
<script src="/js/zh.js"></script>
<script type="text/javascript">
    $(function () {
        $("#password").blur(function () {
            checkPassword(this.value)
        })
        $("#rePassword").blur(function () {
            checkPassword(this.value)
        })
        function checkPassword(password) {
            var reg = /^[A-Za-z0-9]{6,14}$/;
            if (!reg.test(password)){
                noty({'text': '请输入6-14位字母与数字组合的密码', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                $("#submitbtn").attr("disabled", true);
            }else{
                $("#submitbtn").removeAttr("disabled");
            }
        }

        $("#pwdEye").click(function () {
            setPasswordVisiblity(this,"password")
        })
        $("#rePwdEye").click(function () {
            setPasswordVisiblity(this,"rePassword")
        })
        function setPasswordVisiblity(node,id) {
            if($(node).attr("class")=='hiddenpwd'){
                $(node).attr("class",'showpwd');
                node.src = '/img/show_password.png'
                $("#"+id).prop("type","text");
            }else{
                $(node).attr("class",'hiddenpwd');
                node.src = '/img/hide_password.png'
                $("#"+id).prop("type","password");
            }
        }
        $("#submitbtn").click(function () {
            var canSubmit = true;
            var pwd = $("#password").val();
            var repwd = $("#rePassword").val();
            if(!pwd){
                noty({'text': '新密码不能为空', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                canSubmit = false
            }else if(!repwd){
                noty({'text': '确认新密码不能为空', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                canSubmit = false
            }else{
                if (pwd != repwd){
                    noty({'text': '两次密码不一致', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                    canSubmit = false
                }
            }
            if(canSubmit){
                $.ajax({
                    url: "/resetPassword.do",
                    timeout: 900000,
                    method: "POST",
                    data: {"newPassword":pwd},
                    success: function (data) {
                        if (data.code =='0000') {
                            setTimeout("$('#queryBtn').click()", 4020);
                            noty({'text': '密码修改成功', 'layout': 'center', 'type': 'information', "timeout": "4000"});
                            setTimeout("window.location.href = '/logout.do'",2000);
                        }  else {
                            noty({'text': '密码修改成功', 'layout': 'center', 'type': 'error', "timeout": "4000"});
                        }
                    }
                })


            }
        })



    })
</script>
<!--end : JavaScript-->
</body>
</html>